# Load Dataset

In [63]:
import pandas as pd
import seaborn as sns
import os
import numpy as np

In [64]:
# melakukan load dari csv ke dalam bentuk pandas dataframe
df=pd.read_csv('glass.csv')

In [65]:
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

# Data Description dan analisa

In [66]:
# melihat tipe dari tiap kolom di dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [67]:
# melihat persebaran data dari setiap kolom, seperti variance dan std
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [68]:
# melihat jumlah missing value
df.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [69]:
# melihat data yang memiliki missing value
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [RI, Na, Mg, Al, Si, K, Ca, Ba, Fe, Type]
Index: []

In [70]:
# cek duplikat
df.duplicated().any()

True

In [71]:
# melihat jumlah setiap kelas di kolom target
df.Type.value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64

In [72]:
labels=['building-windows-float-processed','building=windows-nonfloat-processed', 'vehicle-windows-float-processed', 'containers', 'tableware', 'headlamps']

In [73]:
# distribusi data dari satu kolom ke kolom yang lain
#sns.pairplot(df,hue="Type")

# PraProses

`Ini kalian bisa melakukan pra proses menyesuaikan kondisi data.
Beberapa masalah yang harus diatasi:
Missing Value
Extreme Value (outlier)
Encoding atribut kateogrikal
Normalisasi
Feature engineering
dll.
Intinya menyesuaikan problem!`

## Handling Missing Value

In [74]:
df.mean()

RI       1.518365
Na      13.407850
Mg       2.684533
Al       1.444907
Si      72.650935
K        0.497056
Ca       8.956963
Ba       0.175047
Fe       0.057009
Type     2.780374
dtype: float64

In [75]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html
df.fillna(df.mean(),inplace=True)

In [76]:
df.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

## Label Encoder

In [77]:
# SKIP, DAH PKE KODE
# # label encoder
# # dictionary buat mappingnya
# dic = {"Iris-setosa":1, "Iris-versicolor":2,'Iris-virginica':3}

# #dimapping ke kolom baru 
# df['Target']=df.Species.replace(dic)

In [78]:
df.head(5)

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

# Train Test Split

In [79]:
# X adalah kolom attribut tanpa kolom target
X=df.iloc[:, :-1]
X.head(2)

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0

In [80]:
# y adalah kolom yang hanya target
y=df.iloc[:,-1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [81]:
# untuk memisahkan data train dan test -> https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
from sklearn.model_selection import train_test_split

# param stratify : data displit secara stratified -> https://scikit-learn.org/stable/modules/cross_validation.html#stratification
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,stratify=y)

# Normalisasi

In [82]:
# untuk mengatasi perbedaan nilai antar kolom -> https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train) #tanpa target
X_test_scaled = scaler.transform(X_test)

# Evaluation

In [83]:
# function untuk melakukan perhitungan seluruh metric evaluasi -> https://scikit-learn.org/stable/modules/model_evaluation.html#classification-metrics
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score
def get_metrics(true_labels, predicted_labels):
    acc=np.round(accuracy_score(true_labels, predicted_labels),4)
    prec=np.round(precision_score(true_labels, predicted_labels,average='weighted'),4)
    recall=np.round(recall_score(true_labels, predicted_labels,average='weighted'),4)
    f1=np.round(f1_score(true_labels, predicted_labels,average='weighted'),4)
    return [acc,prec,recall,f1]

# Model

In [84]:
kolom=['Model','Acc','Precision','Recall','F1']
HASIL_AKHIR=pd.DataFrame(columns=kolom)

## Random Forest

### RF Gini

In [85]:
# fit model Random Forest -> https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=195,criterion='gini')
rf.fit(X_train, y_train)
# predict model ke data test
y_pred_rf=rf.predict(X_test)
# evaluation score untuk model Random Forest

hasil=['RF Entropy']+get_metrics(y_test,y_pred_rf)
print(hasil)
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

['RF Entropy', 0.8769, 0.8943, 0.8769, 0.8703]

### RF Entropy

In [86]:
# fit model Random Forest -> https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=50,criterion='entropy')
rf.fit(X_train, y_train)
# predict model ke data test
y_pred_rf=rf.predict(X_test)
# evaluation score untuk model Random Forest
hasil = ['RF Entropy']+  get_metrics(y_test,y_pred_rf)
print(hasil)
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

['RF Entropy', 0.8769, 0.8964, 0.8769, 0.8711]

## XGBoost

In [87]:
# run di local -> pip install xgboost

# fit model XGBoost -> https://xgboost.readthedocs.io/en/latest/
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train, y_train)

[00:42:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=12, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [88]:
# predict model ke data test
y_pred_xgb=xgb.predict(X_test)

In [89]:
# evaluation score untuk model XGBoost
get_metrics(y_test,y_pred_xgb)

[0.8308, 0.8481, 0.8308, 0.8231]

In [90]:
hasil=['XGB']+get_metrics(y_test,y_pred_xgb)

In [91]:
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

## MLP

In [92]:
# fit model MLP -> https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=1000, random_state=63)
mlp.fit(X_train, y_train)
# predict model ke data test
y_pred_mlp=mlp.predict(X_test)
get_metrics(y_test,y_pred_mlp)

[0.7692, 0.7226, 0.7692, 0.7357]

In [93]:
hasil = ['mlp'] + get_metrics(y_test,y_pred_mlp)
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

## Decision Tree

### DT Gini

In [94]:
# fit model Decision Tree -> https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=34)
dt.fit(X_train, y_train)
# predict model ke data test
y_pred_dt=dt.predict(X_test)
# evaluation score untuk model Decision Tree
get_metrics(y_test,y_pred_dt)

hasil=['DT Gini'] + get_metrics(y_test,y_pred_dt)

HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

### DT Entropy

In [95]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=73,criterion='entropy')
dt.fit(X_train, y_train)
# predict model ke data test
y_pred_dt=dt.predict(X_test)
# evaluation score untuk model Decision Tree
get_metrics(y_test,y_pred_dt)

hasil = ['DT entropy'] + get_metrics(y_test,y_pred_dt)
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

## Hasil Akhir

In [96]:
# dataframe perbandingan model
from IPython.display import display 
print("Feinard - 05111840000081 - KELAS KK E")
print("R. Dafa Berlian Denmar - 05111840000149 - KELAS KK E")
display(HASIL_AKHIR)
print("Hasil terbaik didapatkan dari model dengan XGB dan RF karena memiliki akurasi, presisi, recall, dan skor F1 tertinggi diantara semua model")

Feinard - 05111840000081 - KELAS KK E
R. Dafa Berlian Denmar - 05111840000149 - KELAS KK E

        Model     Acc  Precision  Recall      F1
0  RF Entropy  0.8769     0.8943  0.8769  0.8703
0  RF Entropy  0.8769     0.8964  0.8769  0.8711
0         XGB  0.8308     0.8481  0.8308  0.8231
0         mlp  0.7692     0.7226  0.7692  0.7357
0     DT Gini  0.8000     0.8156  0.8000  0.8013
0  DT entropy  0.8462     0.8593  0.8462  0.8510

Hasil terbaik didapatkan dari model dengan XGB dan RF karena memiliki akurasi, presisi, recall, dan skor F1 tertinggi diantara semua model

# CrossVal

In [97]:
# berikut penjelasan link https://scikit-learn.org/stable/modules/cross_validation.html
from sklearn.model_selection import cross_validate
X_scaled=StandardScaler().fit_transform(X)
rf_cv = RandomForestClassifier()
cv_results = cross_validate(rf_cv, X_scaled , y, cv=5)
cv_results

{'fit_time': array([0.2892344 , 0.28623629, 0.26375175, 0.28324103, 0.28326941]),
 'score_time': array([0.01495123, 0.0129621 , 0.01591611, 0.01496315, 0.01894927]),
 'test_score': array([0.69767442, 0.69767442, 0.6744186 , 0.60465116, 0.71428571])}

In [98]:
cv_results['test_score'].mean()

0.6777408637873755

# Grid Search

In [99]:
###### berikut penjelasan link https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
import sklearn.model_selection as model_selection
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

### Grid Search Random Forest

In [144]:
# parameter yang ingin diujicoba
param_grid = {
    'n_estimators': [10, 100, 200, 300],
    'random_state': [0, 42, 21, 195, 214, 77, 50],
    'criterion': ['gini','entropy'],
    'max_features': ['auto','sqrt'],
}

In [145]:
# inisiasi model
clf = RandomForestClassifier()
grid_search = GridSearchCV(clf, param_grid ,cv=2)

In [147]:
# melakukan fit gridsearch
grid_search.fit(X_train, y_train)

GridSearchCV(cv=2, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt'],
                         'n_estimators': [10, 100, 200, 300],
                         'random_state': [0, 42, 21, 195, 214, 77, 50]})

In [103]:
# parameter grid search terbaik
grid_search.best_params_

{'criterion': 'entropy',
 'max_features': 'auto',
 'n_estimators': 200,
 'random_state': 77}

In [104]:
grid_search.best_score_

0.7518918918918919

In [105]:
rf = grid_search.best_estimator_
rf.fit(X_train, y_train)
# predict model ke data test
y_pred_rf=rf.predict(X_test)
# evaluation score untuk model Random Forest

hasil=['RF Grid Search']+get_metrics(y_test,y_pred_rf)
print(hasil)
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

['RF Grid Search', 0.8154, 0.8308, 0.8154, 0.8083]

### Grid Search DecisionTree

In [126]:
# parameter yang ingin diujicoba
param_grid = {
    'splitter': ['best','random'],
    'random_state': [0, 21, 42, 34, 73, 77, 50, 195, 214, 63],
    'criterion': ['gini','entropy'],
    'max_depth': [100,500,1000]
}

In [127]:
# inisiasi model
clf = DecisionTreeClassifier()
grid_search = GridSearchCV(clf, param_grid ,cv=5)

In [129]:
# melakukan fit gridsearch
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [100, 500, 1000],
                         'random_state': [0, 21, 42, 34, 73, 77, 50, 195, 214,
                                          63],
                         'splitter': ['best', 'random']})

In [131]:
# parameter grid search terbaik
grid_search.best_params_

{'criterion': 'gini', 'max_depth': 100, 'random_state': 34, 'splitter': 'best'}

In [132]:
grid_search.best_score_

0.7050574712643678

In [133]:
grid_search.best_estimator_

DecisionTreeClassifier(max_depth=100, random_state=34)

In [140]:
dt = grid_search.best_estimator_

In [141]:
dt.fit(X_train, y_train)
# predict model ke data test
y_pred_dt=dt.predict(X_test)
# evaluation score untuk model Random Forest

hasil=['DT Grid Search']+get_metrics(y_test,y_pred_dt)
print(hasil)
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

['DT Grid Search', 0.8, 0.8156, 0.8, 0.8013]

### Grid search MLP

In [114]:
# parameter yang ingin diujicoba
param_grid = {
    'activation':['identity', 'logistic', 'tanh', 'relu'],
    'solver':['lbfgs','sgd','adam'],
    'learning_rate':['constant','invscaling','adaptive'],
    'max_iter': [100, 200, 500, 1000],
}

In [115]:
# inisiasi model
clf = MLPClassifier()
grid_search = GridSearchCV(clf, param_grid ,cv=5)

In [116]:
# melakukan fit gridsearch
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=MLPClassifier(),
             param_grid={'activation': ['identity', 'logistic', 'tanh', 'relu'],
                         'learning_rate': ['constant', 'invscaling',
                                           'adaptive'],
                         'max_iter': [100, 200, 500, 1000],
                         'solver': ['lbfgs', 'sgd', 'adam']})

In [117]:
grid_search.best_score_

0.6981609195402297

In [118]:
grid_search.best_params_

{'activation': 'logistic',
 'learning_rate': 'constant',
 'max_iter': 1000,
 'solver': 'adam'}

In [119]:
mlp = grid_search.best_estimator_
mlp.fit(X_train, y_train)
# predict model ke data test
y_pred_mlp=mlp.predict(X_test)
get_metrics(y_test,y_pred_mlp)

[0.7231, 0.6812, 0.7231, 0.6832]

In [120]:
hasil=['MLP Grid Search']+get_metrics(y_test,y_pred_dt)
print(hasil)
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

['MLP Grid Search', 0.7231, 0.7562, 0.7231, 0.7344]

In [121]:
# Hasil menggunakan hyper parameter dan gridsearch

In [142]:
# dataframe perbandingan model
from IPython.display import display 
print("Feinard - 05111840000081 - KELAS KK E")
print("R. Dafa Berlian Denmar - 05111840000149 - KELAS KK E")
display(HASIL_AKHIR)
print("Hasil terbaik didapatkan dari model dengan XGB dan RF karena memiliki akurasi, presisi, recall, dan skor F1 tertinggi diantara semua model")

Feinard - 05111840000081 - KELAS KK E
R. Dafa Berlian Denmar - 05111840000149 - KELAS KK E

             Model     Acc  Precision  Recall      F1
0       RF Entropy  0.8769     0.8943  0.8769  0.8703
0       RF Entropy  0.8769     0.8964  0.8769  0.8711
0              XGB  0.8308     0.8481  0.8308  0.8231
0              mlp  0.7692     0.7226  0.7692  0.7357
0          DT Gini  0.8000     0.8156  0.8000  0.8013
0       DT entropy  0.8462     0.8593  0.8462  0.8510
0   RF Grid Search  0.8154     0.8308  0.8154  0.8083
0   DT Grid Search  0.7231     0.7562  0.7231  0.7344
0  MLP Grid Search  0.7231     0.7562  0.7231  0.7344
0   DT Grid Search  0.8000     0.8156  0.8000  0.8013
0   DT Grid Search  0.8000     0.8156  0.8000  0.8013
0   DT Grid Search  0.8000     0.8156  0.8000  0.8013
0   DT Grid Search  0.8000     0.8156  0.8000  0.8013

Hasil terbaik didapatkan dari model dengan XGB dan RF karena memiliki akurasi, presisi, recall, dan skor F1 tertinggi diantara semua model